.hide{
    display: none;
}


h1, h3, h6, h4, li, #fiveday{
    color: #ffffff;
}

.five-day{
    background-color: cadetblue;
}
.days {
    height: 200px;
    width: 150px;
    background-color: black;
    justify-content: center;
    text-align: center;
}
.main-head{
    width: 75%;

}
.AAlogo{
    height: 60px;
    width: 80px;
}



li {

list-style-type: none;
}

#mainCityIcon {

    height: 65px;
    width: 90px;

}

.five-day-img{
    height: 30px;
    width: 30px
}